{% if shifts %}
    <table class="shifts">
    <thead>
        <tr>
            <th class="span-2">Band / type</th>
            <th class="span-2">Date</th>
            <th class="span-6">Shift</th>
            <th class="span-8">Notes</th>
            <th class="span-2">Edit</th>
            <th class="span-2">Outcome</th>
        </tr>
    </thead>
    <tbody>
    {% for shift in shifts %}
        <tr class="{% if shift.maybe_occuring %} highlight {% endif %}">
            <td class="span-2">
                {{ shift.band_type_sup }}
            </td>
            <td class="span-2">
                {% if day %}
                    {{ shift.day }}
                {% else %}
                    <a href="{{ shift.day.get_absolute_url }}">{{ shift.day }}</a>
                {% endif %}
            </td>
            <td class="span-6">
                {{ shift }}
                {% if not person %}
                    <a href="{{ shift.person.get_absolute_url }}">({{ shift.person }})</a>
                {% endif %}
            </td>
            <td class="span-8">
                {{ shift.note }}
            </td>
            <td class="span-2">
                <a href="{{ shift.admin_url }}">(edit)</a>
            </td>
            <td class="span-2">
                {% if shift.outcome %}{{ shift.outcome }}{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <br>
    <p> No shifts </p>
{% endif %}