<!DOCTYPE html>
<html>
<head>
    <title>Shev</title>
    <link rel="stylesheet" href="/static/css/lib/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/lib/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/lib/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="/static/css/lib/datatables/jquery.dataTables.css" type="text/css">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">

    <!-- <script type="text/javascript" src="/static/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/underscore-1.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.dataTables-1.9.4.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone-1.1.2.min.js"></script> -->
    <script type="text/javascript" src="/static/js/lib/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/static/js/lib/underscore-1.6.0.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.dataTables-1.9.4.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone-1.1.2.js"></script>

    <script type="text/javascript" src="/static/js/views/utils.js"></script>
    <script type="text/javascript" src="/static/js/views/person.js"></script>
    <script type="text/javascript" src="/static/js/views/day.js"></script>
    <script type="text/javascript" src="/static/js/views/overview.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
  <div class="container">
  {% block content %}{% endblock %}
  </div>
</body>
</html>