{% extends 'base.html' %}

{% block content %}
{{ block.super }}
<br>
<div class="container">
    <a class="span-3" href="{{ day.previous_day.get_absolute_url }}">&lt;&lt;{{ day.previous_day }}</a>
    <div class="span-5"><h1>{{ day }}</h1></div>
    <div class="span-1"><a href="{{ day.admin_url }}">(edit)</a></div>
    <div class="span-12">&nbsp;</div>
    <a class="span-3 last" href="{{ day.next_day.get_absolute_url }}">{{ day.next_day }}&gt;&gt;</a>
</div>

<a href="{% url 'overview' %}?year={{ day.day.year }}&month={{ day.day.month }}&day={{ day.day.day }}">Overview</a>

<h2>Day shift</h2>
{% include '_shifts.html' with shifts=day_shifts %}

<h2>Night shift</h2>
{% include '_shifts.html' with shifts=night_shifts %}

<h2>Absent / Sick / Self cancelled / Cancelled</h2>
{% include '_shifts.html' with shifts=non_shifts %}

<p>
    <a href="{{ day.admin_url }}">Add shift</a>
</p>
{% endblock %}
