{% extends 'base.html' %}

{% block content %}
{{ block.super }}
<h1> Overview </h1>

<a href="{{ days.0.previous_day.get_overview_url }}">&lt;&lt; Earlier overview</a>
&nbsp;&nbsp;&nbsp;
<a href="{{ days.0.next_day.get_overview_url }}">Later overview &gt;&gt;</a>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Staff</th>
            {% for band in bands %}
                <th {% if forloop.last %}class="last"{% endif %}>
                    Band {{ band.1 }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for day in days %}
        <tr>
            <td><a href="{{ day.get_absolute_url }}">{{ day.day }}</a></td>
            <td>{{ day.clinical_shifts|length }}</td>
            {% for band in day.bands %}
                <td {% if forloop.last %}class="last"{% endif %}>
                    {{ band.count }}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
